
h1 {
    font-size: 30px;
    color: green;
    text-align: center;
}

table, td {
    background-color: lightgreen;
    border: 1px solid black;
    border-collapse: collapse;
   
}

table {
    width: 500px;
}
#login #form-table {
    width: 500px;
    margin: 0 auto;
}



#name {
    width: 90%;
}

#address {
    width: 75%;
}

#phoneNum {
    width: 50%;
}

#message {
    text-align: center;
    color: red;
    display: none;
    
}
