h3 {
    color: #FF3399;
    background-color: #FECFFD;
    text-align: center;
}

div {
    text-align: center;
    background-color: #FFFFCC;
}

hr {
    width: 200px;
}

.part1 {
    color: blue;
}

.part2 {
    color: red;
}

.part3 {
    color: green;
}